{% extends "layout.html" %}

{% block body %}
<div class="popup-content">
    <span class="close" onclick="closePopup()">&times;</span>
    <h2>About</h2>
    <p>Final Project for CS50x!</p>
    <p>Inspired by <a href="https://memory.pour.paris/">Memory Pour Paris</a> from <a href="https://twitter.com/_benjamintd">Benjamin TD</a>, 
        itself inspired by <a href="https://carvin.github.io/sf-street-names/"></a>Name SF Streets</p> from <a href="https://github.com/carvin">Chris Carvin</a>.
</div>
{% endblock %}
