{% extends "layout.html" %}

{% block script %}
<script>
    // Initialize Leaflet map
    var map = L.map('map', { zoomControl: false }).setView([48.8566, 2.3522], 12); // Default view set to Paris
    map.doubleClickZoom.disable(); 
    // Initialize the map with Carto style
    var CartoDB_PositronNoLabels = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_nolabels/{z}/{x}/{y}{r}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
        subdomains: 'abcd',
        maxZoom: 20
    }).addTo(map);

    // Load data
    var stations = JSON.parse('{{ stations | tojson | safe }}');
    var lines = JSON.parse('{{ lines | tojson | safe }}');

    var lineColors = {};
    var stationData = {};
    var guessedStations = new Set();
    var correctlyGuessedStations = 0;

   var labelMarkers = {};
   var circleMarkers = {};

    // Draw metro lines on the map with their respective color
    lines.features.forEach(function(feature) {
        var properties = feature.properties;
        
        // Check if the "show" property is equal to "METRO"
        if (properties.metro === 1) {
            var coordinates = feature.geometry.coordinates.map(function(coord) {
                return [coord[1], coord[0]];  // Swap latitude and longitude for Leaflet
            });
            
            var indice_line = Number(feature.properties.indice_lig);
            lineColors[indice_line] = feature.properties.colourweb_hexa;
            
            L.polyline(coordinates, { color: '#' + lineColors[indice_line] }).addTo(map);
        }
    });

    // Store station information into a dictionnary
    stations.features.forEach(function (feature) {
        var properties = feature.properties;

        // Check if the "mode" property is equal to "METRO"
        if (properties.mode === "METRO") {
            var coordinates = [feature.geometry.coordinates[1], feature.geometry.coordinates[0]];
            var stationName = feature.properties.nom_zdc;
            var lineId = Number(feature.properties.indice_lig);
            var lineColor = lineColors[lineId] || 'black'; // Default to black if color is not found

            if (!stationData[stationName]) {
                // If the station doesn't exist in the dictionary, add it
                stationData[stationName] = {
                    coordinates: [],
                    lineColor: lineColor,
                };
            }
            // Add the coordinates to the station's data
            stationData[stationName].coordinates.push(coordinates);
        }
        
    });

    var totalStations = Object.keys(stationData).length;

    // Create a form for user input
    var form = L.control({ position: 'topright' });
    form.onAdd = function (map) {
        var div = L.DomUtil.create('div', 'form-container');
        div.innerHTML = '<form id="stationForm"><label for="stationInput">Enter Station Name:</label>' +
            '<input type="text" id="stationInput" name="stationInput">' +
            '<input type="submit" value="Submit"></form>';
        return div;
    };
    form.addTo(map);

    // Create markers for each station
    Object.keys(stationData).forEach(function (stationName) {
        var data = stationData[stationName];
        var averageCoordinates = calculateAverageCoordinates(data.coordinates);

        // Create a circle marker for each station at its precise coordinates
        var circleMarker = L.circleMarker(data.coordinates[0], {
            color: "#a9a9a9",
            weight: 1,
            fillColor: 'white',
            fillOpacity: 1,
            radius: 3
        });

        circleMarker.addTo(map);
        circleMarkers[stationName] = circleMarker;

        // Create a label marker for each station at the average of its coordinates
        var labelMarker = L.marker(averageCoordinates, {
            icon: L.divIcon({
                className: 'station-label hidden-label',
                html: stationName
            })
        });

        labelMarker.addTo(map);
        labelMarkers[stationName] = labelMarker;
        
        var allLabels = document.querySelectorAll('.station-label');
    
        // Ensure all labels have the 'data-name' attribute
        allLabels.forEach(function (label) {
            if (!label.hasAttribute('data-name')) {
                label.setAttribute('data-name', stationName);
            }
        });
        
    });
    
    // Handle form submission
    document.getElementById('stationForm').addEventListener('submit', function (event) {
        event.preventDefault();
        var input = document.getElementById('stationInput').value;
        checkStationName(input);

        // Clear the form input
        document.getElementById('stationForm').reset();
    });
    
    // Initialize a variable to keep track of the currently displayed station name
    var displayedStationName = null;
    
    // Function to calculate the average coordinates
    function calculateAverageCoordinates(coordinatesArray) {
        var sumLat = coordinatesArray.reduce(function (sum, coord) {
            return sum + coord[0];
        }, 0);

        var sumLng = coordinatesArray.reduce(function (sum, coord) {
            return sum + coord[1];
        }, 0);

        var averageLat = sumLat / coordinatesArray.length;
        var averageLng = sumLng / coordinatesArray.length;

        return [averageLat, averageLng];
    }
    
    // Function to show label for a specific station
    function showLabel(stationName) {    
        // Hide the previously displayed station name if it exists
        if (displayedStationName !== null) {
            var previousLabel = document.querySelector('.station-label[data-name="' + displayedStationName + '"]');
            
    
            if (previousLabel) {
                previousLabel.classList.add('hidden-label');
            }
        }
    
        // Update the displayed station name
        displayedStationName = stationName;
    
        // Show the label for the new station
        var currentLabel = document.querySelector('.station-label[data-name="' + stationName + '"]');
    
        if (currentLabel) {
            currentLabel.classList.remove('hidden-label');
        }
    }

    // Function to show the result message
    function showResultMessage(text) {
        var resultMessage = document.getElementById('resultMessage');
        var resultText = document.getElementById('resultText');
        var guessedStationsList = document.getElementById('guessed-stations-list');

        // Create resultMessage and resultText if they don't exist
        if (!resultMessage) {
            resultMessage = document.createElement('div');
            resultMessage.id = 'resultMessage';
            document.body.appendChild(resultMessage);
        }

        if (!resultText) {
            resultText = document.createElement('p');
            resultText.id = 'resultText';
            resultMessage.appendChild(resultText);
        }

        resultText.textContent = text;
        resultMessage.classList.remove('hidden-message');

        // Update guessed stations list
        if (!guessedStationsList) {
            console.error('Guessed stations list element not found.');
            return;
        }
        
        // Extract the station name from the result text using a more robust approach
        var stationNameMatch = text.match(/The station (.+?) has been found/);
        var stationName = stationNameMatch ? stationNameMatch[1] : null;

        if (stationName) {
            // Check if the station has already been guessed correctly
            if (!guessedStations.has(stationName)) {
                // Append correctly guessed station to the list
                var guessedStationItem = document.createElement('li');
                guessedStationItem.textContent = text;
                guessedStationsList.appendChild(guessedStationItem);

                // Update score
                guessedStations.add(stationName);
                correctlyGuessedStations = guessedStations.size;
                updateScore();
            }
        }
        
    }

    // Function to update the score
    function updateScore() {
        var scoreElement = document.getElementById('score');
        var score = (correctlyGuessedStations / totalStations) * 100;
        scoreElement.textContent = score.toFixed(2) + '%';
    }

    // Function to check the station name
    function checkStationName(name) {
        var guessedStationsList = document.getElementById('guessed-stations-list');
        var formattedInput = name.toLowerCase();

        // Check if the station name has already been guessed correctly
        if (guessedStations.has(formattedInput)) {
            // Station has already been guessed, update the label and exit
            showLabel(formattedInput);
            return;
        }
    
        var foundStation = null;
        var minDistance = Infinity;
    
        // Iterate through station names and find the closest match
        Object.keys(stationData).forEach(function (station) {
            // Calculate Levenshtein distance
            var stationParts = station.split('/');
            var stationBeforeSlash = stationParts[0];

            var distance = levenshteinDistance(formattedInput, stationBeforeSlash.replace(/-/g, ' ').replace(/\s+/g, ' ').toLowerCase());
    
            // Check if the distance is within the threshold
            const MAX_LEVENSHTEIN_DISTANCE = 3;
            if (distance < MAX_LEVENSHTEIN_DISTANCE && distance < minDistance) {
                foundStation = station;
                minDistance = distance;
            }
        });
    
        if (foundStation && !guessedStations.has(foundStation)) {
            // Correct station found, update the label and proceed
            guessedStations.add(foundStation); // Add guessed station to the Set
            correctlyGuessedStations++;
    
            updateScore();
            showResultMessage(`The station ${foundStation} has been found!`);
            showLabel(foundStation);
            map._onResize();
    
            // Update guessed stations list
            if (!guessedStationsList) {
                console.error('Guessed stations list element not found.');
                return;
            }
    
            // Change color of the circle marker for the correctly guessed station
            var guessedStationMarker = circleMarkers[foundStation];
            if (guessedStationMarker) {
                var fillLineColor = stationData[foundStation].lineColor;
                guessedStationMarker.setStyle({
                    fillColor: fillLineColor,
                    color: 'red'
                });
            }
    
            // Append correctly guessed station to the list
            var guessedStationItem = document.createElement('li');
            guessedStationItem.textContent = foundStation;
            guessedStationsList.appendChild(guessedStationItem);
        } else {
            showResultMessage(`The station ${name} has not been found. Please try again.`);
        }
    }
    
    // Function to calculate Levenshtein distance between two strings
    function levenshteinDistance(str1, str2) {
        const m = str1.length;
        const n = str2.length;
    
        const dp = Array.from(Array(m + 1), () => Array(n + 1).fill(0));
    
        for (let i = 0; i <= m; i++) {
            for (let j = 0; j <= n; j++) {
                if (i === 0) {
                    dp[i][j] = j;
                } else if (j === 0) {
                    dp[i][j] = i;
                } else {
                    dp[i][j] = Math.min(
                        dp[i - 1][j - 1] + (str1[i - 1] !== str2[j - 1] ? 1 : 0),
                        dp[i][j - 1] + 1,
                        dp[i - 1][j] + 1
                    );
                }
            }
        }
    
        return dp[m][n];
    }
    
</script>
{% endblock %}
