{% extends "layout.html" %}

{% block script %}
<script>
    // Initialize Leaflet map
    var map = L.map('map', { zoomControl: false }).setView([48.8566, 2.3522], 12); // Default view set to Paris

    // Initialize the map with Carto style
    var CartoDB_PositronNoLabels = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_nolabels/{z}/{x}/{y}{r}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
        subdomains: 'abcd',
        maxZoom: 20
    }).addTo(map);

    // Load data
    var stations = JSON.parse('{{ stations | tojson | safe }}');
    var lines = JSON.parse('{{ lines | tojson | safe }}');

    var lineColors = {};
    var stationData = {};

    // Draw metro lines on the map with their respective color
    lines.features.forEach(function(feature) {
        var properties = feature.properties;
        
        // Check if the "show" property is equal to "METRO"
        if (properties.metro === 1) {
            var coordinates = feature.geometry.coordinates.map(function(coord) {
                return [coord[1], coord[0]];  // Swap latitude and longitude for Leaflet
            });
            
            var indice_line = Number(feature.properties.indice_lig);
            lineColors[indice_line] = feature.properties.colourweb_hexa;
            
            L.polyline(coordinates, { color: '#' + lineColors[indice_line] }).addTo(map);
        }
    });

    // Store station information into a dictionnary
    stations.features.forEach(function (feature) {
        var properties = feature.properties;

        // Check if the "mode" property is equal to "METRO"
        if (properties.mode === "METRO") {
            var coordinates = [feature.geometry.coordinates[1], feature.geometry.coordinates[0]];
            var stationName = feature.properties.nom_zdc;
            var lineId = Number(feature.properties.indice_lig);
            var lineColor = lineColors[lineId] || 'black'; // Default to black if color is not found

            if (!stationData[stationName]) {
                // If the station doesn't exist in the dictionary, add it
                stationData[stationName] = {
                    coordinates: [],
                    lineColor: lineColor,
                };
            }

            // Add the coordinates to the station's data
            stationData[stationName].coordinates.push(coordinates);
        }
    });

    // Create a form for user input
    var form = L.control({ position: 'topright' });
    form.onAdd = function (map) {
        var div = L.DomUtil.create('div', 'form-container');
        div.innerHTML = '<form id="stationForm"><label for="stationInput">Enter Station Name:</label>' +
            '<input type="text" id="stationInput" name="stationInput">' +
            '<input type="submit" value="Submit"></form>';
        return div;
    };
    form.addTo(map);

    // Create markers for each station
    Object.keys(stationData).forEach(function (stationName) {
        var data = stationData[stationName];
        var averageCoordinates = calculateAverageCoordinates(data.coordinates);

        // Create a circle marker for each station at its precise coordinates
        var circleMarker = L.circleMarker(data.coordinates[0], {
            color: "#a9a9a9",
            weight: 1,
            fillColor: "#ffffff",
            fillOpacity: 1,
            radius: 3
        });

        // Create a label marker for each station at the average of its coordinates
        var labelMarker = L.marker(averageCoordinates, {
            icon: L.divIcon({
                className: 'station-label',
                html: stationName
            })
        });

        circleMarker.addTo(map);
        labelMarker.addTo(map);
    });

    // Function to calculate the average coordinates
    function calculateAverageCoordinates(coordinatesArray) {
        var sumLat = coordinatesArray.reduce(function (sum, coord) {
            return sum + coord[0];
        }, 0);

        var sumLng = coordinatesArray.reduce(function (sum, coord) {
            return sum + coord[1];
        }, 0);

        var averageLat = sumLat / coordinatesArray.length;
        var averageLng = sumLng / coordinatesArray.length;

        return [averageLat, averageLng];
    }
    
    // Handle form submission
    document.getElementById('stationForm').addEventListener('submit', function(event) {
        event.preventDefault();
        var input = document.getElementById('stationInput').value;
        checkStationName(input);
    });
    
    // Function to show result message
    function showResultMessage(text) {
        var resultMessage = document.getElementById('resultMessage');
        var resultText = document.getElementById('resultText');
        resultText.textContent = text;resultMessage.classList.remove('hidden-message');
    }
    
    // Function to check the station name
    function checkStationName(name) {
        if (stationData.hasOwnProperty(name)) {
            showResultMessage(`The station ${name} has been found!`);
        } 
        else {
            showResultMessage(`The station ${name} has not been found. Please try again.`);
        }
    }
</script>
{% endblock %}
